.App {
	text-align: center;
}

.container {
	background-color: rgba(102, 3, 133, 0.507);
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgb(88, 88, 88), -5px -5px 10px rgb(145, 145, 145);
}

div.form-row {
	border-bottom: 1px solid rgb(182, 182, 182);
}

div.form-row input,
div.form-row select,
div.form-row button {
	border-radius: 20px;
	border: none;
	outline: none;
}

li {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	margin: 5px;
	border-radius: 20px;
}

li p {
	font-size: 1.5rem;
}

li p span {
	margin-left: 50px;
}
li.notPurchased {
	background-color: rgba(31, 185, 0, 0.452);
}
li.purchased {
	background-color: rgba(8, 9, 117, 0.452);
}
